<app-head></app-head>
<div class="content_container">
    <ng-container *ngIf="dataList && dataList.length>0">
        <h3 >我的班级</h3>
        <nz-collapse>
            <nz-collapse-panel
              *ngFor="let item of dataList;let i = index;"
              [nzHeader]="item.name"
              [nzActive]="false"
              [nzDisabled]="false"
              (nzActiveChange)="onClassCollapseChange($event,i)"
            >
            <button *ngIf="!classStatus[i].detail"  (click)="onDetailClick(i)" nz-button nzType="primary" class="detail_btn" nzSize="small" nzShape="round">管理数据</button>
            <button *ngIf="classStatus[i].detail" (click)="onDetailClick(i)" nz-button nzType="primary" class="detail_btn" nzSize="small" nzShape="round">查看名单</button>
            &nbsp;&nbsp;<button  nz-button nzType="primary" class="detail_btn" nzSize="small" nzShape="round">({{item.stu.length}})人</button>

            <nz-card *ngIf="!classStatus[i].detail">
                <div nz-card-grid class="grid_item" *ngFor="let stu of item.stu">{{stu.name}}</div>
            </nz-card>
            <nz-table *ngIf="classStatus[i].detail" #table nzBordered [nzData]="item.stu">
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>得分</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sss of table.data;let ssi=index;">
                    <td>
                      <div [ngClass]="{'editable-cell':classStatus[i].detail}" [hidden]="editId === sss.id" (click)="startEdit(sss.id,sss.name)">
                        {{ sss.name }}
                      </div>
                      <input [id]="'input_name_'+sss.id" [hidden]="editId !== sss.id" type="text" style="width: 6rem;" nz-input [(ngModel)]="sss.name" (blur)="stopEdit(sss.id,sss.name)" />
                    </td>
                    <td>
                      <div [ngClass]="{'editable-cell':classStatus[i].detail}" [hidden]="editSex === 'input_sex_'+sss.id" (click)="startEditSex(sss.id,sss.sex)">
                        {{sss.sex}}
                      </div>
                      <input [id]="'input_sex_'+sss.id" [hidden]="editSex !== 'input_sex_'+sss.id" type="text" style="width: 6rem;" nz-input [(ngModel)]="sss.sex" (blur)="stopEditSex(sss.id,sss.sex)" />
                    </td>
                    <td>
                      <div [ngClass]="{'editable-cell':classStatus[i].detail}" [hidden]="editScore === 'input_score_'+sss.id" (click)="startEditScore(sss.id,sss.score)">
                        {{sss.score}}
                      </div>
                      <input [id]="'input_score_'+sss.id" [hidden]="editScore !== 'input_score_'+sss.id" type="text" style="width: 6rem;" nz-input [(ngModel)]="sss.score" (blur)="stopEditScore(sss.id,sss.score)" />
                    </td>
                    <td>
                      <a nz-popconfirm nzPopconfirmTitle="确定删除?" (nzOnConfirm)="deleteRow(i,sss.id)">删除</a>
                    </td>
                  </tr>
                </tbody>
            </nz-table>
            </nz-collapse-panel>
        </nz-collapse>

    </ng-container>
    

    <div class="stu_area">
        <h3 >添加学生信息</h3>
        <textarea rows="4" nz-input [(ngModel)]="stuArea" placeholder="多个名字之间用逗号隔开,例如:张三,李四,王五,麻子"></textarea>
        <br class="top1">
        <p></p>
        <nz-radio-group [(ngModel)]="radioValue" class="top_little">
            <ng-container *ngIf="dataList && dataList.length>0">
                <label nz-radio  *ngFor="let item of dataList;let i = index;" [nzValue]="'a'+i">{{item.name}}</label>
            </ng-container>
            
            <label nz-radio nzValue="E">
                <input class="new_class" nz-input placeholder="输入新班级名称" [(ngModel)]="newClassName" />
            </label>
        </nz-radio-group>
        <br>
        <button class="top_little" (click)="formatStuArea()" nz-button nzType="primary"  nzShape="round">添加</button>
        <nz-alert class="top_little" *ngIf="formatResult ===1" nzType="success" nzMessage="添加成功" nzCloseable></nz-alert>
        <nz-alert class="top_little" *ngIf="formatResult ===0" nzType="error" [nzMessage]="formatErrormsg" nzCloseable></nz-alert>
    </div>
    <div style="height: 8rem;"></div>
    <div style="height:1px; margin-top:-1px;clear: both;overflow:hidden;"></div>  
</div>