*{
    letter-spacing: 5px;
    line-height: 3;
}

.header-flex{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 3.5rem;
}
nz-page-header-title{
    font-size: 20px;
    line-height: 1.7;
    color: #777;
    font-weight: bold;
}

.menu_item{
    margin-left: 2rem;
    color: #17B794;
    cursor: pointer;
}

.last_right{
    margin-right: 3.4rem;
}

.account{
    letter-spacing: 2px;
    color: #17B794;
}