
.header-container{
    background: #fff ;
    opacity: 0.9;
    box-shadow: 0 2px 8px #f0f1f2;
    color: black;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: center;
    // text-align: center;
    // font-size: 2rem;
}
button{
    margin: 0 1rem;
}


@media (max-width: 500px) {


}
