
// 主题1  对比色
$contrast_color: #fc4a1a;//字体颜色
$contrast_main: #4abdac;//主要颜色，如背景色
$contrast_gray: #e5e3e8;//
$contrast_orange: #fc4a1a;//
$contrast_yellow: #f7b733;//

// 主题2  清爽色
$light_color: #a9a9a9;//字体颜色
$light_main: #69bb7b;//主要颜色，如背景色
$light_gray: #070606;//
$light_orange: #fe5751;//
$light_yellow: #f08769;//

// 主题3  暗色
$dark_color: white;//字体颜色
$dark_main: #3880ff;//主要颜色，如背景色
$dark_gray: #98878f;//
$dark_orange: #985e6d;//
$dark_yellow: #494e68;//

// 主题4  黄色
$theme4_color: white;//字体颜色
$theme4_main: #ffc409;//主要颜色，如背景色
$theme4_gray: #98878f;//
$theme4_orange: #985e6d;//
$theme4_yellow: #494e68;//
// 主题5  紫色
$theme5_color: white;//字体颜色
$theme5_main: #de6dfd;//主要颜色，如背景色
$theme5_gray: #98878f;//
$theme5_orange: #985e6d;//
$theme5_yellow: #494e68;//
// 主题6  粉色
$theme6_color: white;//字体颜色
$theme6_main: #f9aeae;//主要颜色，如背景色
$theme6_gray: #98878f;//
$theme6_orange: #985e6d;//
$theme6_yellow: #494e68;//

