.setting-container{
    margin-top: 5rem;
    min-width: 30rem;
}

.icon-container1{
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .2rem;
    border-radius: 2rem;
    border: 1px solid #1890ff;
}
.icon-container{
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .2rem;
    border-radius: 2rem;
    border: 1px solid rgb(168, 167, 167);
}
.bgstyle{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}