<app-head></app-head>
<div class="content_container">
    <nz-list nzItemLayout="horizontal">
        <nz-list-item  style="background: white;">
            <!-- <div class="icon-container">
                <svg class="icon" aria-hidden="true">
                    <use [attr.xlink:href]="item.icon"></use>
                </svg>
            </div> -->

          <nz-list-item-meta
            [nzTitle] = "'item_language' | translate"
          >
          </nz-list-item-meta>
          <button nz-button class="icon-container" (click)="onLanguageChange('zh-CN')" [nzType]="data.language === 'zh-CN'? 'primary':'default'">中文</button>
          <button nz-button class="icon-container" (click)="onLanguageChange('en-US')" [nzType]="data.language === 'en-US'? 'primary':'default'">英文</button>

        </nz-list-item>
        <nz-list-item  style="background: white;">
            <!-- <div class="icon-container">
                <svg class="icon" aria-hidden="true">
                    <use [attr.xlink:href]="item.icon"></use>
                </svg>
            </div> -->

          <nz-list-item-meta
            [nzTitle] = "'item_bg' | translate"
          >
          </nz-list-item-meta>
          <div [ngClass]="{'icon-container1':theme.curTheme === 'theme1','icon-container':theme.curTheme !== 'theme1'}" (click)="onBgChoose(0)">
              <img src="assets/pictures/app_bg1.png" class="bgstyle"> 
          </div>
          <div [ngClass]="{'icon-container1':theme.curTheme === 'theme2','icon-container':theme.curTheme !== 'theme2'}" (click)="onBgChoose(1)">
              <img src="assets/pictures/app_bg2.png" class="bgstyle"> 
          </div>
          <div  [ngClass]="{'icon-container1':theme.curTheme === 'theme3','icon-container':theme.curTheme !== 'theme3'}" (click)="onBgChoose(2)">
              <img src="assets/pictures/app_bg3.png" class="bgstyle"> 
          </div>
          <div  [ngClass]="{'icon-container1':theme.curTheme === 'theme4','icon-container':theme.curTheme !== 'theme4'}" (click)="onBgChoose(3)">
              <img src="assets/pictures/app_bg4.png" class="bgstyle"> 
          </div>
          <div  [ngClass]="{'icon-container1':theme.curTheme === 'theme4','icon-container':theme.curTheme !== 'theme5'}" (click)="onBgChoose(4)">
              <img src="assets/pictures/app_bg5.png" class="bgstyle"> 
          </div>
          <div  [ngClass]="{'icon-container1':theme.curTheme === 'theme4','icon-container':theme.curTheme !== 'theme6'}" (click)="onBgChoose(5)">
              <img src="assets/pictures/app_bg6.png" class="bgstyle"> 
          </div>

        </nz-list-item>
        <nz-list-item  style="background: white;">

          <nz-list-item-meta
            [nzTitle] = "'item_cache' | translate"
            nzDescription="清空本地缓存及相关设置，恢复到默认（未实现）。"
          >
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-item  style="background: white;">

          <nz-list-item-meta
            [nzTitle] = "'item_random_time' | translate"
            [nzDescription]="'message_random_time' | translate"
          >
          </nz-list-item-meta>
          <div class="timec">
            <nz-input-group [nzSuffix]="'item_second' | translate">
              <nz-input-number [(ngModel)]="randomTime" [nzMin]="1" [nzMax]="100" [nzStep]="0.5" (ngModelChange)="onTimeChange($event)">

              </nz-input-number>
            </nz-input-group>
          </div>
          
        </nz-list-item>
        <nz-list-item  style="background: white;">

          <!-- <nz-list-item-meta
            [nzTitle] = "'item_lucky_boy' | translate"
            [nzDescription]="luckyDes"
            (click)="onLuckyClick()"
          >
          </nz-list-item-meta> -->
          <div>
            <h4 class="ant-list-item-meta-title ng-star-inserted" (click)="onLuckyClick()">{{'item_lucky_boy' | translate}}</h4>
            <div *ngIf="isShowLuckyBoy">
              <select class="aselect" [(ngModel)]="curClass" (ngModelChange)="onClassChange($event)" placeholder="选择班级">
                <ng-container *ngFor="let item of dataList">
                    <option [value]="item.name">{{item.name}}</option>
                </ng-container>
              </select>
              <textarea rows="3" nz-input [(ngModel)]="luckyBoys" placeholder="多个名字之间用逗号隔开,例如:张三,李四,王五,麻子"></textarea>

            </div>
          </div>
        </nz-list-item>
        <nz-list-item  style="background: white;">

          <nz-list-item-meta
            [nzTitle] = "'item_random_modle' | translate"
            [nzDescription]="'message_random_modle' | translate"
          >
          </nz-list-item-meta>
          <div class="random_type">
            <nz-radio-group [(ngModel)]="randomType" (ngModelChange)="onRandomTypeChange($event)">
              <label nz-radio nzValue="A">全部随机点名</label>
              <label nz-radio nzValue="B">得分高的不点</label>
              <label nz-radio nzValue="C">点过的不点</label>
            </nz-radio-group>
          </div>
          
        </nz-list-item>

        <nz-list-item  style="background: white;" *ngIf="data.account">
          <nz-list-item-meta
            [nzTitle] = "'item_often_link' | translate"
            [nzDescription]="alink"
          >
          </nz-list-item-meta>
          <button nz-button *ngIf="!alink" class="icon-container" (click)="createAlink()" nzType="primary">创建</button>
          <button nz-button *ngIf="alink" class="icon-container" (click)="copyLink()" nzType="primary">复制</button>
          
        </nz-list-item>
      </nz-list>
</div>
