@import '../styles.scss';
.app-container{
    width: 100%;
    min-height: 600px;
    // height: 100%;
    background-color: gray;//后面设置可以动态改变
    // display: flex;
    // justify-content: center;
    @include def_theme();
    border-radius: 6px;
    border-radius: 6px;
}


.app-header{
    width: 100%;
    position: absolute;
}

.loading{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 30%;
    z-index: 999;
    width: 6rem;
}

@media (max-width: 500px) {

    .app-container{
        width: 100%;
        // height: 100%;
        // display: block;
        display: flex;
        flex-direction: column;

    }

    .loading{
        top: 26%;
        margin-left: -2rem;
    }

    .app-header{
        bottom: 0;
    }

}