.note-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

.note-title{
  margin: 1rem 1.5rem;
  width: 45%;
}

.note-editor {
  background-color: #c0d9d9;
  width: 49%;
}
.note-detail {
  background-color: #c0d9d9;
  width: 49%;
}