.container{

    // background-image: url(../../../assets/pictures/name_bg1.jpg);
    background-image: linear-gradient(180deg, #ffc8fb 0%, #90ccff 100%);
    // background-size:cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 980px;
    height: 610px;
	border-radius: 1rem;
	padding-bottom: 2rem;
    box-shadow: 10px 5px 20px 0 rgb(0 0 0 / 30%);
    margin: 0 auto;
    margin-bottom: 10rem;
}

.ant-btn-primary{
    background-color: #17B794;
    border-color: #17B794;
}

.mr1{
    margin-right: 1rem;
}

.page_container{
    height: 100%;
}


.choose {
	margin-right: 1rem;
    margin-top: 5rem;
    text-align: right;
}

nz-select {
    width: 9rem;
}
.emptymsg{
    text-align: center;
}
.amsg{
    margin-top: 2rem;
    color: #17B794;
}

#lucky {
    width: 100%;
    height: 80%;
    // background-color: rgb(233, 248, 214);
    // border: 1px solid rgb(130, 216, 18);
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Rig Bold Inline', sans-serif;
    line-height: 200px;
    text-align: center;
    margin: 40px auto 30px auto;
	padding: 1rem 2rem;
    border-radius: 10px;
	margin-top: 11rem;
  }

  .name{
	display: block;
    color: #ded428;
    text-align: center;
    font-size: 9.8rem;
    // font-family: "Rig Bold Inline", sans-serif;
	text-shadow: 7px 7px 4px #636363;
    -webkit-text-stroke: 0.1px black;
    letter-spacing: -2.5rem;
  }


@font-face {
	font-family:'Rig Bold Coarse'; 
	src:url(../../../assets/font/Slidexiaxing-Regular.ttf);
}

@font-face {
	font-family:'Rig Bold Extrude'; 
	src:url(../../../assets/font/Slidexiaxing-Regular.ttf);
}

@font-face {
	font-family:'Rig Bold Shadow'; 
	src:url(../../../assets/font/Slidexiaxing-Regular.ttf);
}

@font-face {
	font-family:'Rig Bold Face'; 
	src:url(../../../assets/font/Slidexiaxing-Regular.ttf);
}

@font-face {
	font-family:'Rig Bold Inline'; 
	src:url(../../../assets/font/Slidexiaxing-Regular.ttf);
}

@media (max-width: 1090px) {

    .container{

        background-image: url(../../../assets/pictures/name_bg1.jpg);
        // background-size:cover;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 800px;
        height: 560px;
        border-radius: 1rem;
        padding-bottom: 2rem;
    }
    #lucky {
        margin-top: 8rem;
    }

    .name {
        display: block;
        color: #ded428;
        text-align: center;
        font-size: 8.3rem;
        font-family: "Rig Bold Inline", sans-serif;
        text-shadow: 7px 7px 4px #636363;
        -webkit-text-stroke: 0.1px black;
        letter-spacing: -2.5rem;
    }

}
@media (max-width: 820px) {

    .container{

        background-image: url(../../../assets/pictures/name_bg1.jpg);
        // background-size:cover;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 660px;
        height: 460px;
        border-radius: 1rem;
        padding-bottom: 2rem;
    }
    #lucky {
        margin-top: 6.5rem;
    }


    .name {
        display: block;
        color: #ded428;
        text-align: center;
        font-size: 118px;
        font-family: "Rig Bold Inline", sans-serif;
        text-shadow: 7px 7px 4px #636363;
        -webkit-text-stroke: 0.1px black;
        letter-spacing: -2.5rem;
    }

}
@media (max-width: 700px) {


    .container{

        background-image: url(../../../assets/pictures/name_bg1.jpg);
        // background-size:cover;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 460px;
        height: 320px;
        border-radius: 1rem;
        padding-bottom: 2rem;
    }
    #lucky {
        margin-top: 1.5rem;
    }

    .name {
        display: block;
        color: #ded428;
        text-align: center;
        font-size: 6rem;
        font-family: "Rig Bold Inline", sans-serif;
        text-shadow: 7px 7px 4px #636363;
        -webkit-text-stroke: 0.1px black;
        letter-spacing: -2.5rem;
    }
}

@media (max-width: 500px) {


    .container{

        background-image: url(../../../assets/pictures/name_bg1.jpg);
        // background-size:cover;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 320px;
        border-radius: 1rem;
        padding-bottom: 2rem;
        margin-top: 44%;
    }


    .choose {
        margin-right: .5rem;
        margin-top: -40%;
        text-align: right;
        padding-top: .3rem;
    }

    #lucky {
        margin-top: .8rem;
	    padding: 1rem 1rem;
    }

    .name {
        display: block;
        color: #ded428;
        text-align: center;
        font-size: 4rem;
        font-family: "Rig Bold Inline", sans-serif;
        text-shadow: 7px 7px 4px #636363;
        -webkit-text-stroke: 0.1px black;
        letter-spacing: -1.2rem;
    }
}

