<app-head></app-head>
<div *ngIf="curStudents.length" class="page_container">
    <div class="container">
        <div class="choose">
            <nz-select [(ngModel)]="curClass" nzPlaceHolder="选择班级">
                <ng-container *ngFor="let item of curStudents">
                    <nz-option [nzValue]="item.name" [nzLabel]="item.name"></nz-option>
                </ng-container>
            </nz-select>
        </div>

        <div id="lucky"><span class="name" (click)="onStart()">{{luckyName.trim()}}</span></div>
        
        <!-- <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="onStart()">&nbsp;&nbsp;{{btnText}} &nbsp; &nbsp;</button> -->

    </div>
</div>
