
<app-head></app-head>

<div class="container content_container">
    <a href="/filemng/page/upload">上传文件</a>
<!-- 图片 -->
<div class="body-section">
    <div class="bizhi-list">
        <nz-image-group class="bizhi-list">
        <ng-container *ngFor="let item of imglist;let index = index">
            <div class="imgcover">
                <img class="bizhi-item"
                nz-image
                nzSrc="{{item.spath}}" 
                src="{{item.spath}}" 
                (click)="onImageClick(index)">
                <div  class="img-download"><a style="color: white;" href="{{'/app'+item.bpath}}" download>下载</a></div>
            </div>

        </ng-container>
        </nz-image-group>
        <div class="bizhi-item load-more-pic" (click)="onLoadMore()">加载更多</div>
    </div>
  </div> 
</div>

