

.bizhi-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 1rem;
  }

  .imgcover{
    position: relative;
  }

  .img-download{
    position: absolute;
    color: red;
    background: #149358;
    color: white;
    bottom: 10px;
    width: 3.3rem;
    height: 1.8rem;
    right: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 1.8rem;
  }
  
  .bizhi-item{
    height: 18rem;
    width: 11rem;
    border: solid 1px white;
    border-radius: 8px;
    margin-top: .4rem;
    object-fit: cover
  }

  .shipin-item{
    width: 18rem;
    height: 20rem;
  }

  .load-more-pic{
    display: flex;
    background: gray;
    /* text-align: center; */
    /* vertical-align: middle; */
    justify-content: center;
    align-items: center;
  }

@media (max-width: 1000px) {
    .bizhi-item{
        height: 15rem;
        width: 9rem;
    }

}

@media (max-width: 700px) {
    .content_container{
        width: 70%;
    }

    .bizhi-item{
        height: 15rem;
        width: 9rem;
    }

}

@media (max-width: 500px) {
    .content_container{
        width: 94%;
    }

    .ant-card-body {
        padding: 8px 12px !important;
    }

    .bizhi-item{
        height: 9rem;
        width: 6rem;
    }

}