/* You can add global styles to this file, and also import other style files */
@import './assets/css/theme.scss';

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.content_container{
    width: 60%;
    margin:0 auto;
    overflow:hidden
}

.top_little{
    margin-top: .5rem;
}

@media (max-width: 700px) {
    .content_container{
        width: 70%;
    }

}

@media (max-width: 500px) {
    .content_container{
        width: 94%;
    }

}