/* You can add global styles to this file, and also import other style files */
@import './assets/css/theme.scss';

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.content_container{
    width: 60%;
    margin:0 auto;
    overflow:hidden
}

.top_little{
    margin-top: .5rem;
}
.ant-btn-primary{
    color: #17B794;
}
.topm1{
    margin-top: 4px;
}
.topm2{
    margin-top: 8px;
}
.topm3{
    margin-top: 12px;
}
.topm4{
    margin-top: 16px;
}
.topm5{
    margin-top: 20px;
}
.topm6{
    margin-top: 24px;
}
.botm1{
    margin-top: 4px;
}
.botm2{
    margin-top: 8px;
}
.botm3{
    margin-top: 12px;
}
.botm4{
    margin-top: 16px;
}
.botm5{
    margin-top: 20px;
}
.botm6{
    margin-top: 24px;
}

@media (max-width: 700px) {
    .content_container{
        width: 70%;
    }

}

@media (max-width: 500px) {
    .content_container{
        width: 94%;
    }

}