/* You can add global styles to this file, and also import other style files */
@import './assets/css/theme.scss';

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}